@import 'partial';

.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px red solid;

    p {
        font-family: 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
        ;
        font-size: clamp(18px, 2vw, 26px);
    }
}