.horizontalgallery {
    position: relative;
    display: flex;
    justify-content: center;
    width: 800px;

    .slide {
        position: absolute;
        top: 0;

        width: 100%;
        
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
