@import './partial';

.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 130px;


    .buttons {
        border-bottom: 2px $Color5 solid;
        border-left: 2px $Color5 solid;
        position: absolute;
        right: 0;
        height: 50px;
        width: auto;
        display: flex;
        border-radius: 0 0 0 25px;
        transition: border-radius 0.500s ease;


        .button {
            padding: 4px 16px 0 16px;
            background: rgba(0, 0, 0, 0.8);
            -webkit-backdrop-filter: blur(0.85px);
            backdrop-filter: blur(0.85px);

            font-family: 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
            text-decoration: none;
            color: $Color5;
            font-size: clamp(16px, 2vw, 26px);

            display: flex;
            justify-content: center;
            align-items: start;
        }

        .button:hover {
            background: rgba(0, 0, 0, 0.9);
            text-decoration: underline;
        }

        .button:active {
            background: rgba(0, 0, 0, 1);
            text-decoration: underline;
        }

        .farleft {
            cursor: -webkit-grabbing;
            padding: 4px 16px 0 16px;
            background: rgba(0, 0, 0, 0.8);
            -webkit-backdrop-filter: blur(0.85px);
            backdrop-filter: blur(0.85px);

            font-family: 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
            text-decoration: none;
            color: $Color5;
            font-size: clamp(16px, 2vw, 26px);

            display: flex;
            justify-content: center;
            align-items: start;

            border-radius: 0 0 0 25px;
            position: relative;

            .projButtons {
                position: absolute;
                top: 50px;
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows 0.600s ease;

                .content {
                    overflow: hidden;
                }
            }
        }

        .farleft:hover {
            border-radius: 0 0 0 10px;
            transition: all 0.600s ease;
            background: rgba(0, 0, 0, 0.9);
            text-decoration: none;

            .projButtons {
                border: 1px $Color5 solid;
                border-radius: 0 0 12px 12px;
                grid-template-rows: 1fr;

                .button {
                    padding-bottom: 2px;
                }

                .fardown {
                    border-radius: 0 0 15px 15px;
                    padding-bottom: 5px;
                }
            }
        }
    }


    .buttons:has(.farleft:hover) {
        border-radius: 0 0 0 10px;
    }
}


@media (max-width: 780px) {
    .navbar {
        grid-template-rows: 70px;
        margin-bottom: 10px;


        .buttons {
            height: 54px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .button {
                height: 25px;
                // border-top: 1px $Color5 dotted;
                // border-right: 1px $Color5 dotted;
                font-size: clamp(7px, 2vw, 26px);
            }


            .farleft {
                height: 25px;
                // border-top: 1px $Color5 dotted;
                // border-right: 1px $Color5 dotted;
                font-size: clamp(7px, 2vw, 26px);
                order: 1;

                .projButtons {
                    top: 27px;
                }
            }

            .membrs {
                order: 2;
            }
        }
    }
}