.imagecardhead {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;

    .imagehead {
        width: 100%;

    }

    .names {
        font-size: clamp(10px, 1.8vw, 20px);
    }
}