@import '../partial';

.horizontalgallery {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1300px;

    .slide {
        border: 1px $Color5 solid;
        position: absolute;
        top: 0;
        width: 100%;
        
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}