@import '../partial';

.projectdiscription {
    padding-top: 65px;
    margin-bottom: 350px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 0.25px $Color5 dashed;

    .left {
        position: sticky;
        top: 50px;
        margin-top: 30px;
        height: 250px;
        padding: 10px;
        margin-right: 30px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px;

        .topic {
            cursor: pointer;
            transition: all 0.300s;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 10px 10px 0;
            background: rgba(255, 255, 255, 0.678);
            -webkit-backdrop-filter: blur(0.75px);
            backdrop-filter: blur(0.75px);
            border: 0.5px solid rgba(0, 0, 0, 0.2);

            p {
                font-size: clamp(16px, 2.2vw, 30px);
                font-weight: 800;
                color: $Color2;
                text-align: center;
            }

        }

        .show {
            transform: translateX(25px);

            p {
                color: $Color3;
            }
        }
    }

    .right {
        transition: all 0.300s;
        padding-right: 80px;
        padding-left: 80px;


        .subject {
            margin-bottom: 100px;
            padding-top: 10px;
            padding-bottom: 30px;

            .title {
                text-align: center;
                font-size: clamp(34px, 4vw, 45px);
                margin-bottom: 18px;
            }
        }

        p {
            text-align: justify;
        }
    }
}